<dec f='include/c++/7/bits/stl_iterator.h' l='459' type='_Container *'/>
<use f='include/c++/7/bits/stl_iterator.h' l='468' u='w' c='_ZNSt20back_insert_iteratorC1ERT_'/>
<use f='include/c++/7/bits/stl_iterator.h' l='492' u='c' c='_ZNSt20back_insert_iteratoraSERKNT_10value_typeE'/>
<use f='include/c++/7/bits/stl_iterator.h' l='499' u='c' c='_ZNSt20back_insert_iteratoraSEONT_10value_typeE'/>
