<dec f='glibc_src_2.28/sunrpc/clnt_simp.c' l='48' type='int'/>
<use f='glibc_src_2.28/sunrpc/clnt_simp.c' l='74' u='w' c='__GI_callrpc'/>
<use f='glibc_src_2.28/sunrpc/clnt_simp.c' l='84' u='r' c='__GI_callrpc'/>
<use f='glibc_src_2.28/sunrpc/clnt_simp.c' l='86' u='r' c='__GI_callrpc'/>
<use f='glibc_src_2.28/sunrpc/clnt_simp.c' l='87' u='w' c='__GI_callrpc'/>
<use f='glibc_src_2.28/sunrpc/clnt_simp.c' l='101' u='a' c='__GI_callrpc'/>
<offset>64</offset>
