<dec f='glibc_src_2.28/nss/nsswitch.h' l='84' type='service_user *'/>
<offset>64</offset>
<doc f='glibc_src_2.28/nss/nsswitch.h' l='83'>/* List of service to be used.  */</doc>
<use f='glibc_src_2.28/nss/nsswitch.c' l='147' u='r' c='__nss_database_lookup'/>
<use f='glibc_src_2.28/nss/nsswitch.c' l='154' u='r' c='__nss_database_lookup'/>
<use f='glibc_src_2.28/nss/nsswitch.c' l='177' u='w' c='__nss_database_lookup'/>
<use f='glibc_src_2.28/nss/nsswitch.c' l='797' u='w' c='nss_getline'/>
<use f='glibc_src_2.28/nss/nsswitch.c' l='878' u='r' c='free_database_entries'/>
