<dec f='glibc_src_2.27/sunrpc/clnt_simp.c' l='48' type='int'/>
<use f='glibc_src_2.27/sunrpc/clnt_simp.c' l='78' u='w' c='__GI_callrpc'/>
<use f='glibc_src_2.27/sunrpc/clnt_simp.c' l='88' u='r' c='__GI_callrpc'/>
<use f='glibc_src_2.27/sunrpc/clnt_simp.c' l='90' u='r' c='__GI_callrpc'/>
<use f='glibc_src_2.27/sunrpc/clnt_simp.c' l='91' u='w' c='__GI_callrpc'/>
<use f='glibc_src_2.27/sunrpc/clnt_simp.c' l='105' u='a' c='__GI_callrpc'/>
<offset>64</offset>
