<dec f='glibc_src_2.27/nss/nsswitch.c' l='897' type='void free_defconfig()'/>
<use f='glibc_src_2.27/nss/nsswitch.c' l='897' u='a'/>
<def f='glibc_src_2.27/nss/nsswitch.c' l='897' ll='909' macro='1' type='void free_defconfig()'/>
