<dec f='glibc_src_2.24/nss/nsswitch.h' l='84' type='service_user *'/>
<offset>64</offset>
<doc f='glibc_src_2.24/nss/nsswitch.h' l='83'>/* List of service to be used.  */</doc>
<use f='glibc_src_2.24/nss/nsswitch.c' l='137' u='r' c='__nss_database_lookup'/>
<use f='glibc_src_2.24/nss/nsswitch.c' l='144' u='r' c='__nss_database_lookup'/>
<use f='glibc_src_2.24/nss/nsswitch.c' l='168' u='w' c='__nss_database_lookup'/>
<use f='glibc_src_2.24/nss/nsswitch.c' l='789' u='w' c='nss_getline'/>
<use f='glibc_src_2.24/nss/nsswitch.c' l='871' u='r' c='free_database_entries'/>
