<dec f='glibc_src_2.24/support/resolv_test.c' l='552' type='struct resolv_redirect_config'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='641' u='m' c='server_thread_udp_process_one'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='703' u='m' c='server_thread_udp_single'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='878' u='m' c='server_thread_tcp_client'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='1063' u='w' c='resolv_test_start'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='1160' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='1163' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='1171' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='1181' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='1185' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='1188' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='1190' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.24/support/resolv_test.c' l='1194' u='m' c='resolv_test_end'/>
<offset>1536</offset>
