<dec f='include/c++/7/bits/stl_iterator.h' l='646' type='_Container *'/>
<use f='include/c++/7/bits/stl_iterator.h' l='658' u='w' c='_ZNSt15insert_iteratorC1ERT_NS0_8iteratorE'/>
<use f='include/c++/7/bits/stl_iterator.h' l='695' u='c' c='_ZNSt15insert_iteratoraSERKNT_10value_typeE'/>
<use f='include/c++/7/bits/stl_iterator.h' l='703' u='c' c='_ZNSt15insert_iteratoraSEONT_10value_typeE'/>
