<dec f='glibc_src_2.31/nis/rpcsvc/nislib.h' l='268' type='int'/>
<offset>512</offset>
<doc f='glibc_src_2.31/nis/rpcsvc/nislib.h' l='268'>/* Server&apos;s local socket */</doc>
<use f='glibc_src_2.31/nis/nis_call.c' l='209' u='w' c='__nisbind_connect'/>
<use f='glibc_src_2.31/nis/nis_call.c' l='212' u='a' c='__nisbind_connect'/>
<use f='glibc_src_2.31/nis/nis_call.c' l='215' u='a' c='__nisbind_connect'/>
<use f='glibc_src_2.31/nis/nis_call.c' l='222' u='r' c='__nisbind_connect'/>
