<dec f='glibc_src_2.31/support/resolv_test.c' l='582' type='struct resolv_redirect_config'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='671' u='m' c='server_thread_udp_process_one'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='733' u='m' c='server_thread_udp_single'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='908' u='m' c='server_thread_tcp_client'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='1116' u='w' c='resolv_test_start'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='1223' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='1226' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='1234' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='1244' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='1248' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='1251' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='1253' u='m' c='resolv_test_end'/>
<use f='glibc_src_2.31/support/resolv_test.c' l='1257' u='m' c='resolv_test_end'/>
<offset>1536</offset>
