<dec f='include/c++/7/bits/stl_iterator.h' l='551' type='_Container *'/>
<use f='include/c++/7/bits/stl_iterator.h' l='559' u='w' c='_ZNSt21front_insert_iteratorC1ERT_'/>
<use f='include/c++/7/bits/stl_iterator.h' l='583' u='c' c='_ZNSt21front_insert_iteratoraSERKNT_10value_typeE'/>
<use f='include/c++/7/bits/stl_iterator.h' l='590' u='c' c='_ZNSt21front_insert_iteratoraSEONT_10value_typeE'/>
