<dec f='glibc_src_2.26/nss/nsswitch.c' l='890' type='void free_defconfig()'/>
<use f='glibc_src_2.26/nss/nsswitch.c' l='890' u='a'/>
<def f='glibc_src_2.26/nss/nsswitch.c' l='890' ll='902' macro='1' type='void free_defconfig()'/>
