<dec f='glibc_src_2.23/sunrpc/clnt_simp.c' l='47' type='int'/>
<use f='glibc_src_2.23/sunrpc/clnt_simp.c' l='78' u='w' c='__GI_callrpc'/>
<use f='glibc_src_2.23/sunrpc/clnt_simp.c' l='92' u='r' c='__GI_callrpc'/>
<use f='glibc_src_2.23/sunrpc/clnt_simp.c' l='94' u='r' c='__GI_callrpc'/>
<use f='glibc_src_2.23/sunrpc/clnt_simp.c' l='95' u='w' c='__GI_callrpc'/>
<use f='glibc_src_2.23/sunrpc/clnt_simp.c' l='123' u='a' c='__GI_callrpc'/>
<offset>64</offset>
