<dec f='glibc_src_2.23/nis/rpcsvc/nislib.h' l='269' type='int'/>
<offset>512</offset>
<doc f='glibc_src_2.23/nis/rpcsvc/nislib.h' l='269'>/* Server&apos;s local socket */</doc>
<use f='glibc_src_2.23/nis/nis_call.c' l='208' u='w' c='__nisbind_connect'/>
<use f='glibc_src_2.23/nis/nis_call.c' l='211' u='a' c='__nisbind_connect'/>
<use f='glibc_src_2.23/nis/nis_call.c' l='214' u='a' c='__nisbind_connect'/>
<use f='glibc_src_2.23/nis/nis_call.c' l='221' u='r' c='__nisbind_connect'/>
