<dec f='glibc_src_2.23/nss/nsswitch.c' l='887' type='void free_defconfig()'/>
<use f='glibc_src_2.23/nss/nsswitch.c' l='887' u='a'/>
<def f='glibc_src_2.23/nss/nsswitch.c' l='887' ll='899' macro='1' type='void free_defconfig()'/>
